!.keep
*.DS_Store
*.swo
*.swp
.byebug_history
/.bundle
/.env.local
/coverage/*
/log/*
/tags
/tmp/*

# Ignore master key for decrypting credentials and more.
/config/master.key

/config/credentials/development.key

/config/credentials/test.key
